@import url('https://fonts.googleapis.com/css22?family=Source+Sans+Prop:wght@300;400;700&display=swap');

$fontDefault: 'Source Sans Pro';

body{
    font-family: $fontDefault;
    font-size: 1em;
    color: #444;
}

div.menuLink {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 1px;
    background-color: #ddd;

    & > a {
        color: blue;
    }

    &.active {
        background-color: #bbb;
    }
}